<!-- <div class="footer">
  <div class="footer-content">
      <div class="footer-section">
        <h1>About Us</h1>
        <p>We make and deliver the highest quality food.</p>
      </div>
      <div class="footer-section">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Contact Us</h2>
        <p>Phone: +123456789</p>
        <p>&copy; All rights reserved</p>
      </div>
  </div>
</div> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
<footer>
  <div class="footer">
  
  <div class="row">
  <ul>
  <li><a href="#">Contact us</a></li>
  <li><a href="#">Our Services</a></li>
  <li><a href="#">Privacy Policy</a></li>
  <li><a href="#">Terms & Conditions</a></li>
  <li><a href="#">Career</a></li>
  </ul>
  </div>
  
  <div class="row">
  INFERNO Copyright © 2021 Inferno - All rights reserved
  </div>
  </div>
  </footer>