<div class="container">
    <button class='thin' (click)="onCategoryChange('all')"><p>All</p></button>
    <button class='thin' (click)="onCategoryChange('pasta')"><p>Pasta</p></button>
    <button class='thin' (click)="onCategoryChange('entree')" ><p>Entree</p></button>
    <button class='thin' (click)="onCategoryChange('salad')" ><p>Salad</p></button>
    <button class='thin' (click)="onCategoryChange('burger')" ><p>Burger</p></button>
    <button class='thin' (click)="onCategoryChange('pizza')" ><p>Pizza</p></button>
    <button class='thin' (click)="onCategoryChange('seafood')" ><p>Seafood</p></button>
    <button class='thin' (click)="onCategoryChange('dessert')" ><p>Dessert</p></button>
</div>