*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 640px;
    margin: auto;
    border-bottom: red solid 3px;
}
.thin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
    transition: 0.2s;
    border: none;
    background-color: white;
}
.thin:hover{
    background-color: red;
}
p{
    color: black;   
}
