.container{
    gap: 16px;
}
.cart-item{
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: black 1px solid;
    align-items: center;
    
}
.liging{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}
.image{
    border-radius: 15px;
    width: 240px;
    height: 240px;
}
p{
    font-size: 26px;
}
h3{
    font-size: 36px;
}
button{
    background: white;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
}
@media screen and (max-width:500px){
    .cart-item{
        display: grid;
        grid-template-columns: 1fr;
    }
}